.card-top-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 50px;
}
.dashboardContainer {
  background-color: #080f26;
  color: white;
  height: inherit;
  padding-top: 2em;
}

.dashboard-bottom-container {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.pagination {
  display: flex;
  justify-content: center;
  color: orange;
  font-size: 2em;
}
.header {
  padding-left: 2.5em;
  padding-right: 1.5em;
}
p {
  padding: 0;
  margin: 0;
}
.date {
  font-size: 0.55em;
  padding-left: 3px;
  color: #858585;
  font-weight: bold;
}
.account {
  font-size: 1.5em;
  font-weight: bolder;
}
.transaction {
  font-size: 1.5em;
  padding-top: 1em;
  padding-left: 0.5em;
  font-weight: bolder;
}
