
body{
  background: rgb(2,0,36);
  background: linear-gradient(222deg, rgba(2,0,36,1) 0%, rgba(30,26,45,1) 63%, rgba(25,26,34,1) 100%); 
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logout-icon{
  width: 35px;
  transition: 0.3s;
}
.icon-wrapper{
  padding: 0.5em;
  position: absolute;
  right: 0;
}
.logout-icon:hover{
  width: 37px
}
.logout-page{
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.returnHome{
    border: none;
    padding: 1.5em;
    margin: 1em;
    font-size: 1rem;
    border-radius: 1em;
    font-weight: bold;
    height: fit-content;
    background: #572bc9;
    border: 1px solid #e632fe;
    color: white;
}
.returnHome > a {
  color: white;
}
a{
  color: purple;
  align-items: center;
  display: flex;
  justify-content: center;
}

span > a:hover { text-decoration: none; }

