

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.logout-icon{
  width: 35px;
  transition: 0.3s;
}
.icon-wrapper{
  padding: 0.5em;
  position: absolute;
  right: 0;
}
.logout-icon:hover{
  width: 37px
}
